.line-grid {
    position: absolute;
    width: 100%;
    height: 100%;
}

.line {
    position: absolute;
    width: 2px;
    height: 40px;
    background-color: black;
    transition: transform 0.5s ease;
}